/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #0D3B66; /* Deep blue */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    background: #FAF0CA; /* A subtle beige for contrast */
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #31263E; /* Dark purple */
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: all 0.3s ease; /* Smooth transition */
}

nav a:hover {
    text-decoration: underline;
    color: #6F2DBD; /* Darker purple on hover */
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 12px; /* Increased padding for better spacing */
    border: 1px solid #ddd;
}

th {
    background-color: #014D4E; /* Deep teal */
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button, input[type="submit"], input[type="button"] {
    background-color: #8338EC; /* Deep purple */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #6F2DBD; /* A darker shade of purple on hover */
}

footer {
    background-color: #123123; /* Very dark green */
    color: #ffffff;
    text-align: center;
    padding: 20px 0; /* Increased padding for better spacing */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    nav {
        flex-direction: column; /* Stack items vertically on small screens */
    }

    nav a {
        margin: 10px 0; /* Add vertical margin for better spacing */
    }
}
